force-app/main/default/flows/Release_Achievement_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>981</locationX>
        <locationY>68</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_to_Output_Collection</name>
        <label>Add to Output Collection</label>
        <locationX>282</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>outAchievementAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sAchievementAssighments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Achievements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Achievement_Assignmetns</name>
        <label>Set Achievement Assignmetns</label>
        <locationX>433</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>sAchievementAssighments.redwing__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acquired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Release_Achievements</name>
        <label>Release Achievements</label>
        <locationX>552</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isILTClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFulfillmentItem.ILT_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sILTClass.Request_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Achievement_Assignments</targetReference>
            </connector>
            <label>isILTClass</label>
        </rules>
        <rules>
            <name>isCommunityClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFulfillmentItem.ILT_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sILTClass.Request_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vouchers</targetReference>
            </connector>
            <label>isCommunityClass</label>
        </rules>
    </decisions>
    <interviewLabel>Release Achievement Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release Achievement Assignments</label>
    <loops>
        <name>Loop_through_Achievements</name>
        <label>Loop through Achievements</label>
        <locationX>361</locationX>
        <locationY>374</locationY>
        <assignNextValueToReference>sAchievementAssighments</assignNextValueToReference>
        <collectionReference>colAchievementAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Achievement_Assignmetns</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Achievement_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Achievement_Assignments</name>
        <label>Get Achievement Assignments</label>
        <locationX>361</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Achievements</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFulfillmentItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <object>redwing__Achievement_Assignment__c</object>
        <outputReference>colAchievementAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Item</name>
        <label>Get Fulfillment Item</label>
        <locationX>197</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ILT_Class</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmFulfillmentItem</elementReference>
            </value>
        </filters>
        <object>Fulfillment_Item__c</object>
        <outputReference>sFulfillmentItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Product__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Order_Item__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Class</name>
        <label>Get ILT Class</label>
        <locationX>363</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Release_Achievements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFulfillmentItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILTClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vouchers</name>
        <label>Get Vouchers</label>
        <locationX>671</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Achievement_Assignments</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFulfillmentItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <object>Voucher__c</object>
        <outputReference>colVoucher</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Achievement_Assignments</name>
        <label>Update Achievement Assignments</label>
        <locationX>173</locationX>
        <locationY>379</locationY>
        <inputReference>outAchievementAssignments</inputReference>
    </recordUpdates>
    <startElementReference>Get_Fulfillment_Item</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAchievementAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>colVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>frmFulfillmentItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outAchievementAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sAchievementAssighments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
</Flow>
